nav{
    display:flex;
    justify-content:center;
}
nav a {
    margin: 0 10px;
    padding: 5px;
    text-decoration:none;
    color:black;
}
nav a:hover{
    color:#ccc;
}
.active{
    background-color:black;
    color:white;    
}
.esta_ativo{
    background-color:lime;
}
.nao_ativo{
    background-color:red;
}